$btn-bg-color-primary: rgba(94, 156, 153, 0.8);
$btn-bg-color-primary-hover: rgba(94, 156, 153, 1);
$btn-bg-color-warning: rgba(156, 93, 109, 0.8);
$btn-bg-color-warning-hover: rgba(156, 93, 109, 1);
$btn-bg-color-disabled: rgba(161, 161, 161, 0.8);
$btn-bg-color-disabled-hover: rgba(161, 161, 161, 1);
$ease-in-out-transition: all 0.3s ease-in-out;

@mixin button-base {
    color: white;
    border: none;
    padding: 0.625rem 1.25rem;
    text-align: center;
    font-size: 1rem;
    margin: 0.25rem 0.125rem;
    border-radius: 5%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.primary {
    @include button-base;
    background-color: $btn-bg-color-primary;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $btn-bg-color-primary-hover;
        transition: $ease-in-out-transition;
        z-index: -1;
    }

    &:hover:before {
        left: 0;
    }
}

.warning {
    @include button-base;
    background-color: $btn-bg-color-warning;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: $btn-bg-color-warning-hover;
        transition: $ease-in-out-transition;
        z-index: -1;
    }

    &:hover:before {
        left: 0;
    }
}

.disabled {
    @include button-base;
    background-color: #cccccc;

    &:hover {
        transition: $ease-in-out-transition;
        background-color: $btn-bg-color-disabled-hover;
    }
}
